html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }
  

  
  
 

  
  .w-background-video {
    color: #fff;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .w-background-video > video {
    object-fit: cover;
    z-index: -100;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    inset: -100%;
  }
  
  .w-background-video > video::-webkit-media-controls-start-playback-button {
    -webkit-appearance: none;
    display: none !important;
  }
  
  .w-background-video--control {
    background-color: #0000;
    padding: 0;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }
  
  .w-background-video--control > [hidden] {
    display: none !important;
  }
  


  body {
    background-color: var(--primary-dark);
    color: var(--white);
    font-family: Pretendard Regular, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
  }
  

  :root {
    --primary-dark: black;
    --white: white;
    --primary-color: #e90026;
    --light-gray: #d9d9d9;
  }
  
  .background-video {
    background-image: linear-gradient(to bottom, #e900264d, var(--primary-dark));
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  